<!DOCTYPE html>
<html lang="ja">
<head>
<% partial_meta(buf, {
  description: description,
  keywords: keywords,
  favicon_url: favicon_url
}) %>
<% partial_ios_meta(buf, {
  viewport: viewport,
  icon_url: ios_icon_url
}) %>
<% partial_ogp(buf, {
  url: url,
  title: title,
  description: description,
  site_name: title,

  app_id: facebook_app_id,
  type: ogp_type,

  image_url: ogp_image_url,
  image_width: ogp_image_width,
  image_height: ogp_image_height
}) %>
<title><%= title %></title>
<link rel="stylesheet" href="<%= css_path %>/<%= name %>.css" />
<script src="src/bower_components/EventEmitter/EventEmitter.js"></script>
<script src="src/bower_components/inherits/inherits.js"></script>
<script src="<%= js_path %>/<%= name %>.js"></script>
<script src="<%= js_path %>/ToneMap-demo.js"></script>
</head>
<body><% content(buf) %></body>
</html>
